<<<<<<< HEAD
body {
  font-family: Arial, sans-serif;
  margin: 20px;
  background-color: #f5f5f5;
}

h1 {
  text-align: center;
  color: #333;
}

form {
  max-width: 300px;
  margin: 20px auto;
  padding: 15px;
  background: white;
  border: 1px solid #ccc;
  border-radius: 8px;
  box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.1);
}

form label {
  display: block;
  margin-bottom: 8px;
  font-weight: bold;
}

form input {
  width: 100%;
  padding: 10px;
  margin: 10px 0;
  border: 1px solid #ccc;
  border-radius: 4px;
}

button {
  width: 100%;
  padding: 10px;
  background-color: #4CAF50;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

button:hover {
  background-color: #45a049;
}

#profileDisplay {
  display: none;
  max-width: 400px;
  margin: 20px auto;
  padding: 20px;
  background: white;
  border: 1px solid #ddd;
  border-radius: 8px;
  box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.1);
}

#displayPhoto {
  background-color: #6053ce;
  width: 120px;
  height: 120px;
  object-fit: cover;
  border-radius: 50%;
  margin: 10px 0;
}
=======
body {
  font-family: Arial, sans-serif;
  margin: 20px;
  background-color: #f5f5f5;
}

h1 {
  text-align: center;
  color: #333;
}

form {
  max-width: 300px;
  margin: 20px auto;
  padding: 15px;
  background: white;
  border: 1px solid #ccc;
  border-radius: 8px;
  box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.1);
}

form label {
  display: block;
  margin-bottom: 8px;
  font-weight: bold;
}

form input {
  width: 100%;
  padding: 10px;
  margin: 10px 0;
  border: 1px solid #ccc;
  border-radius: 4px;
}

button {
  width: 100%;
  padding: 10px;
  background-color: #4CAF50;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

button:hover {
  background-color: #45a049;
}

#profileDisplay {
  display: none;
  max-width: 400px;
  margin: 20px auto;
  padding: 20px;
  background: white;
  border: 1px solid #ddd;
  border-radius: 8px;
  box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.1);
}

#displayPhoto {
  background-color: #6053ce;
  width: 120px;
  height: 120px;
  object-fit: cover;
  border-radius: 50%;
  margin: 10px 0;
}
>>>>>>> fbf505eebd7ec6f075b09160a426170503275fb8
